.about-me {
    padding: 36px 0 36px 0;
    background-color: #f1f1f1;
    min-height: calc(100vh - 72px);
}

.about-me>h2 {
    margin-top: 0;
    text-align: center;
    font-weight: 700;
    text-decoration: underline;
    font-size: 1.5rem;
}

.about-me-wrapper {
    background-color: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
}

.about-me-wrapper>* {
    width: 100%;
}

.about-me-wrapper>aside>.img-wrapper {
    text-align: center;
}

.about-me-wrapper>aside>.img-wrapper>img {
    height: auto;
    width: 40%;
}

.about-me-wrapper>aside>p {
    text-align: justify;
    width: 90%;
    margin: 1rem auto;
}

.about-me-wrapper>aside>ul {
    margin: 1rem auto;
    padding: 0;
    width: 90%;
}

.about-me-wrapper>aside>ul>li {
    list-style: none;
}

.about-me-wrapper>article>ul {
    list-style-type: none;
    margin: 1rem;
    padding: 1rem
}

.about-me-wrapper>article>ul>li {
    position: relative;
    padding-bottom: 0;
    padding-left: 1.5rem;
    margin-bottom: 3rem;
}

.about-me-wrapper>article>ul>li:last-child {
    margin-bottom:0rem;
}

.about-me-wrapper>article>ul>li>p {
    text-align: justify;
}



.about-me-wrapper>article>ul>li:before {
    content: '';
    background-color: #0a1a27;
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: 6px;
    width: 3px;
}

.about-me-wrapper>article>ul>li>h3 {
    font-weight: 400;
    margin-bottom: 0;
}

.about-me-wrapper>article>ul>li>p>span {
    background-color: #137f13; 
    color: white; 
    border:2px solid #137f13; 
    border-radius: 4px;
    padding: 0.15rem 0.50rem;
    font-size: 0.85rem;
}

.about-me-wrapper>article>ul>li>.dates {
    padding: 0;
    margin: 0;
    font-size: 0.75rem;
}

@media (min-width:768px) {
    .about-me-wrapper>article {
        width: calc(100% / 3 * 2);
    }

    .about-me-wrapper>aside {
        width: calc(100% / 3);
        order: -1;
    }
}