.resume {
    min-height: calc(100vh - 72px);
    padding: 36px 0;
    background-color: #f1f1f1;
}

.resume>h2 {
    margin-top: 0;
    margin-bottom: 36px;
    text-align: center;
    font-weight: 700;
    text-decoration: underline;
}